<html>
  <head>
    <title>VisionBot WebUI</title>
  </head>
  <body>
    <h1>VisionBot WebUI</h1>
    <img src="{{ url_for('video_feed') }}">
  	<p><h2>
  <li><a href="{{ url_for('capture') }}">capture</a></li>
	<li><a href="{{ url_for('motion',cmd='R') }}">RIGHT</a></li>
	<li><a href="{{ url_for('motion',cmd='L') }}">LEFT</a></li>
  <li><a href="{{ url_for('motion',cmd='f') }}">FORE</a></li>
  <li><a href="{{ url_for('motion',cmd='q') }}">STOP</a></li>
  <li><a href="{{ url_for('motion',cmd='b') }}">BACK</a></li>
  <li><a href="{{ url_for('motion',cmd='1') }}">camera up</a></li>
  <li><a href="{{ url_for('motion',cmd='2') }}">camera down</a></li>
  <li><a href="{{ url_for('motion',cmd='3') }}">camera left</a></li>
  <li><a href="{{ url_for('motion',cmd='4') }}">camera right</a></li>
	</h2>
  </body>
</html>
